.popup {
  text-align: center;
}

.popup-logo {
  animation: popup-logo-spin infinite 20s linear;
  height: 80px;
}

.popup-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35px;
  padding: 10px;
  background-color: #263238;
  color: white;
}

.popup-title {
  font-weight: bold;
  font-size: 30px;
}

.popup-settings-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #263238;
  padding: 10px 10px 0px 0px;
}

.popup-settings {
  height: 25px;
  width: 25px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 10px 20px;
  background-color: #ECEFF1;
}

.popup-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 20px 10px 20px;
  background-color: #ECEFF1;
}

.popup-whats-this {
  font-size: 14px;
  color: #263238;
  text-decoration: underline;
}

.whats-this-text {
  word-wrap: break-word;
  width: 140px;
}

.popup-whats-this:hover {
  color: #78909C;
}

@keyframes popup-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
