.popup {
  text-align: center;
}

.popup-logo {
  animation: popup-logo-spin infinite 30s linear;
  height: 80px;
  width: 80px;
}

@keyframes popup-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.popup-header {
  height: 120px;
  padding: 10px;
  background-color: #24222a;
  color: white;
}

.popup-title {
  font-weight: bold;
  font-size: 30px;
}

.popup-settings-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #24222a;
  padding: 10px 10px 0px 0px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75px;
  padding: 10px 20px;
}

.popup-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 20px 10px 20px;
}
