body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 300px;
}

.tooltip-text {
  word-wrap: break-word;
  width: 140px;
}

.tooltip-label {
  font-size: 14px;
  color: #263238;
  text-decoration: underline;
}

.tooltip-label:hover {
  color: #78909C;
}
